---
import { Icon } from "astro-icon/components";
import { getStrDate } from "../lib/utils";

const { url, date, title, tag } = Astro.props;

const strDate = getStrDate(date);
---
<a class="w-full h-[200px] flex flex-col md:flex-row rounded shadow-md cursor-pointer p-4 transition-all duration-500 ease-out hover:bg-neutral-50" href={url}>
  <div class="w-full md:w-1/2 flex items-center justify-center mb-4">
    <img class="w-16 h-16" src={`/${tag}.png`} alt={tag} />
  </div>
  <div class="w-full md:w-1/2 flex flex-col items-center justify-around p-2">
    <div class="font-bold text-md md:text-lg mb-2">{title}</div>
    <div class="flex justify-around text-neutral-500 text-xs">
      <div class="flex items-center justify-center p-2">
        <Icon name="mdi:tag" class="mr-1" />
        <p class="text-center text-sm text-neutral-500">{tag}</p>
      </div>
      <div class="flex items-center  p-2">
        <Icon name="mdi:clock" class="mr-1" />
        <span>{strDate}</span>
      </div>
    </div>
  </div>
</a>
