---
import { getImageUrlWithTag } from "../../lib/utils";

const { author, authorIcon, url, date, title, image, description, tag } = Astro.props;

function getRelativeTimeString(date: string | Date) {
    const now = new Date();
    const past = new Date(date);
    const diffTime = Math.abs(now.getTime() - past.getTime());
    
    const minutes = Math.floor(diffTime / (1000 * 60));
    const hours = Math.floor(diffTime / (1000 * 60 * 60));
    const days = Math.floor(diffTime / (1000 * 60 * 60 * 24));
    const weeks = Math.floor(days / 7);
    const months = Math.floor(days / 30);
    const years = Math.floor(days / 365);

    if (years > 0) {
        return `${years}年前`;
    } else if (months > 0) {
        return `${months}ヶ月前`;
    } else if (weeks > 0) {
        return `${weeks}週間前`;
    } else if (days > 0) {
        return `${days}日前`;
    } else if (hours > 0) {
        return `${hours}時間前`;
    } else {
        return `${minutes}分前`;
    }
}

const relativeTime = getRelativeTimeString(date);
const imageUrl = getImageUrlWithTag(tag);
---
<a class="w-full grid grid-cols-2 rounded overflow-hidden cursor-pointer" href={url}>
    <div class="flex items-center justify-center">
        <img class="w-36 h-36" src={imageUrl} alt={tag} />
    </div>
	<div class="grid grid-rows-4 py-2">
		<div class="font-bold text-lg mb-2">{title}</div>
		<p class="text-gray-700 text-sm">{description}</p>
		{authorIcon ? (
			<img
				class="w-10 h-10 rounded-full mr-4"
				src={authorIcon.url}
				alt={authorIcon.alt}
			/>
		) : (
			<div class="w-10 h-10 rounded-full mr-4 bg-gray-300"></div>
		)}
		<div class="grid grid-cols-1 grid-rows-2 text-gray-700 text-xs">
			<p>{author}</p>
			<p>{relativeTime}</p>
		</div>
	</div>
</a>