---
import { Icon } from 'astro-icon/components'

const { url, date, title, tag } =
  Astro.props;

function getRelativeTimeString(date: string | Date) {
  const now = new Date();
  const past = new Date(date);
  const diffTime = Math.abs(now.getTime() - past.getTime());

  const minutes = Math.floor(diffTime / (1000 * 60));
  const hours = Math.floor(diffTime / (1000 * 60 * 60));
  const days = Math.floor(diffTime / (1000 * 60 * 60 * 24));
  const weeks = Math.floor(days / 7);
  const months = Math.floor(days / 30);
  const years = Math.floor(days / 365);

  if (years > 0) {
    return `${years}年前`;
  } else if (months > 0) {
    return `${months}ヶ月前`;
  } else if (weeks > 0) {
    return `${weeks}週間前`;
  } else if (days > 0) {
    return `${days}日前`;
  } else if (hours > 0) {
    return `${hours}時間前`;
  } else {
    return `${minutes}分前`;
  }
}

const relativeTime = getRelativeTimeString(date);
---
<a class="w-full md:w-[380px] h-[200px] flex flex-col rounded shadow-md cursor-pointer p-4 transition-all duration-500 ease-out hover:bg-neutral-100" href={url}>
  <div class="flex items-center justify-center mb-4">
    <img class="w-16 h-16" src={`/${tag}.png`} alt={tag} />
  </div>
  <div class="flex flex-col items-center p-2">
    <div class="h-[40px] font-bold text-md mb-2">{title}</div>
    <div class="flex justify-around text-neutral-500 text-xs">
      <div class="flex items-center  p-2">
        <Icon name="mdi:clock" class="mr-1" />
        <span>{relativeTime}</span>
      </div>
      <div class="flex items-center justify-center p-2">
        <Icon name="mdi:tag" class="mr-1" />
        <p class="text-center text-sm text-neutral-500">{tag}</p>
      </div>
    </div>
  </div>
</a>
