---
const { page, currentPage, pageNumbers } = Astro.props;

const pageNationGridCols = pageNumbers.length + 2;
---
<nav class="flex justify-center items-center py-8 space-x-4 text-sm">
  <div class={`grid grid-cols-${pageNationGridCols} text-center items-center`}>
    {page.url.prev ? (
      <a 
        href={page.url.prev} 
        class="transition-all duration-500 hover:bg-neutral-50 p-2 rounded"
      >
        前
      </a>
    ) : (<p class="text-neutral-200">前</p>)}
    
    {pageNumbers.map((num: number) => (
      <a 
        href={`/posts/${num}`} 
        class={`w-[31px] transition-all duration-500 p-2 rounded ${
          currentPage === num 
            ? 'bg-neutral-100' 
            : 'hover:bg-neutral-50'
        }`}
        aria-current={currentPage === num ? 'page' : undefined}
      >
        {num}
      </a>
    ))}
    
    {page.url.next ? (
      <a 
        href={page.url.next} 
        class="transition-all duration-500 hover:bg-neutral-50 p-2 rounded"
      >
        次
      </a>
    ) : (<p class="text-neutral-200">次</p>)}
  </div>
</nav>